<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S T A H P!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>


    <section class="section">
      <div class="container" id="app">
        <h1 class="title">
          STAHP
        </h1>

        <div class="is-flex" id="name">
          <input class="input" type="text" placeholder="What's your name?" name="name" v-model="name">
        </div>
        <div class="columns">
          <div class="column is-three-quarters">
            <div class="is-flex">
              <h3 class="title is-4">Game</h3>
              <a class="button is-link" id="set-name" v-on:click="startRound">
                New Round
              </a>
            </div>
            <table class="table is-fullwidth is-narrow is-hoverable is-striped">
              <thead>
                <tr>
                  <th>Letter</th>
                  <th v-for="field in fields">
                    {{field.display}}
                  </th>
                  <th>STAHP</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="round in rounds" v-if="round.finished">
                  <th>{{ round.letter }}</th>
                  <td v-for="field in fields">
                    {{ round.player[field.id] }}
                  </td>
                  <td>{{ round.score }}</td>
                </tr>
                <tr v-if="previous_round.length > 0" >
                  <th :colspan="fields.length + 2" style="background-color: #3273dc; color: white">Results</th>
                </tr>
                <tr v-for="round in previous_round">
                  <th>{{ round.name }}</th>
                  <td v-for="field in fields">
                    {{ round.answers[field.id] }}
                  </td>
                  <td>{{ round.score }}</td>
                </tr>
              </tbody>
            </table>

            <form @submit.prevent="stahpRound">
              <template v-for="round in rounds" v-if="!round.finished">
                <h2>Letter: {{ round.letter }}<h2>

                <div v-for="field in fields" class="field">
                  <label class="label">{{ field.display }}</label>
                  <div class="control">
                    <input class="input" type="text" :placeholder="field.display" v-model="round.player[field.id]">
                  </div>
                </div>

                <div class="control">
                  <button class="button is-primary" type="submit">STAHP</button>
                </div>

              </template>
            </form>
          </div>

          <div class="column">
            <h3 class="title is-4">Scores</h3>
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="player in players">
                  <th>{{ player.name }}</th>
                  <td>
                    {{ player.score }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
